---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    👋 Greetings, I'm Maryan Espinoza, and I'm excited to present my portfolio, offering a glimpse into the diverse projects that have defined my journey as a passionate programmer and tech 
    aficionado. With a relentless curiosity, I actively seek to master new tools, ensuring a continuous growth that empowers me to consistently deliver value in any environment. 
    thank you for taking the time to discover the dynamic world of my contributions.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>MVC</li>
    <li>Laravel</li>
    <li>Codeigniter</li>
    <li>HTML</li>
    <li>Boostrap</li>
    <li>Java Script</li>
    <li>Dev. Android (Java)</li>
    <li>MYSQL</li>
    <li>SQL Server </li>
    <li>Terminal Linux</li>
    <li>Ubuntu Server</li>
    <li>Git & GitHUB</li>
    <li>Kubernete (Basic)</li>   
    <li>Docker</li>    
    <li>Pipeline</li>
  </ul>
  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    
    <TimeLineElement
      title="Dev. para Android con java"
      subtitle="Jun. 2016 at UNI , Managua , Nicaragua"
    />
    <TimeLineElement
    title="Ingles Básico Interactivo"
    subtitle="2012 at INATEC , Jinotepe , Nicaragua"
  />
  <TimeLineElement
      title="Ing. Sistema &amp; computación"
      subtitle="2011 at Masaya, Nicaragua"
    />
  </div>

  

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Analyst & Programmer at UNIMARK S, A"
      subtitle="From Feb. 2015 to Present at UNIMARK S, A, Managua, Nicaragua"
    >
      
    Develop web applications using HTML, CSS, JavaScript, and Laravel, as well as manage and maintain
web servers and implement hosting solutions and application deployment. I have also administered Kubernetes clusters, handling the configuration and maintenance of CI/CD and application deployment.
    </TimeLineElement>
    <TimeLineElement
      title="Analyst & Programmer at PRIDE DENIM MILLS "
      subtitle="From Jun. 2014 to Mar. 2015, Managua, Nicaragua"
    >
      
    Tasks included diagnosing and repairing technical issues, providing advice and assistance to users with technical difficulties. Additionally, I performed operating system installations and software installations.
    </TimeLineElement>
    <TimeLineElement
      title="Analyst & Programmer at DUQCISA "
      subtitle="From Nov. 2012 to Jun. 2014, Managua, Nicaragua"
    >
    My job involved providing support to users, both for software and hardware. I was responsible for installing, configuring, and updating operating systems and applications, as well as repairing and replacing defective parts.
    </TimeLineElement>
</div>


  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  
</BaseLayout>
