---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hey there 👋</div>
    <div class="text-5xl font-bold">I'm Maryan Espinoza</div>
    <div class="text-3xl py-3 font-bold">Software Engineer with passion for programming, currently developing with Docker and Kubernete.</div>
    <div class="py-2">
      <text class="text-lg"> 
        Welcome to my Personal <b>Portafolio</b>. It was built with Astro and Tailwind CSS. Here you will find all my skills displayed on different projects, please feel free to browse as much as you like. I hope you find it useful!     
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/marangelo_git" target="_blank"> Let's connect!</a>
      <a href="https://github.com/marangelo/portafolio" target="_blank" class="btn btn-outline ml-5">
        Get This template
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Credinstantes"
    img="/app-01.png"
    desc="Manages the portfolio of loans and the corresponding payments applied to these loans."
    url="http://app.credinstantes.com/"
    badge="NEW"
    tech={['HTML', 'BOOSTRAP', 'LARAVEL','MYSQL','SQLSERVER','DOCKER']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="GUMANET Analyst FrontEnd and BackEnd Develope"
    img="/app-02.png"
    desc="Various dashboards that display relevant information for operational decision-making."
    url="https://gnet.gumacorp.com"
    tech={['HTML', 'BOOSTRAP', 'LARAVEL','MYSQL','SQLSERVER','DOCKER']}
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SAC Systems FrontEnd and BackEnd Developer"
    img="/app-03.png"
    desc="Platform for customer service, where orders are received and access is provided to inventory, customers, and other statistics."
    url="https://sac.gumacorp.com"
    tech={['HTML', 'BOOSTRAP', 'LARAVEL','MYSQL','SQLSERVER','DOCKER']}
  />

  <HorizontalCard
    title="GMV Gestor Movil de Ventas"
    img="/app-10.png"
    desc="Through a Navita App on Android, the pre-sale order is sent to a WEB portal."
    url="https://apps.gumacorp.com/gmv3"
    tech={['ANDROID', 'JAVA', 'PHP','MYSQL','SQLSERVER','DOCKER']}
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
