---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div>

  <HorizontalCard
    title="Credinstantes"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="http://app.credinstantes.com/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="GUMANET Analyst FrontEnd and BackEnd Develope"
    img="/post_img.webp"
    desc="Various dashboards that display relevant information for operational decision-making."
    url="https://gnet.gumacorp.com"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SAC Systems FrontEnd and BackEnd Developer"
    img="/post_img.webp"
    desc="Platform for customer service, where orders are received and access is provided to inventory, customers, and other statistics."
    url="https://sac.gumacorp.com"
    badge="FOSS"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projects with Docker </div>
  </div>

  <HorizontalCard
    title="Nube Privada Con Docker"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://cloud.gumacorp.com"
  />

  <HorizontalCard
    title="Documentacion de Proyecto Movil"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://docs.gumacorp.com/"
  />

  <HorizontalCard
    title="Media Center"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="http://tv.endscom.com"
  />



  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Others Projects</div>
  </div>

 
  <HorizontalCard
    title="Indicadores de Produccion"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://apps.gumacorp.com/produccion/"
    badge="FOSS"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Kardex"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://apps.gumacorp.com/Inventario/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Estadisticas Generales"
    img="/post_img.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="https://apps.gumacorp.com/Estadisticas/"
  />
</BaseLayout>
