---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Maryan Espinoza
  </div>
  <div class="inline opacity-75">
    <!-- Thanks for using this template. You can keep this line to support my work :) -->
    <a href="https://endscom.com" target="_blank" class="font-bold">endscom</a> developed by
    <a href="http://marangelo.lat/" target="_blank" class="font-bold">Maryan Espinoza ⚡️</a>
  </div>
</footer>
<style>

</style>
